:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #f5f4fa;
  --background-color-accent: #2f303a;
  --background-color-button: #2196f3;
  --background-color-button-active: #188ce8;
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-accent: #2196f3;
  --color-invert: #ffffff;
  --color-logo: #000000;
  --font-family-primary: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;
  --font-weight-header: 500;
  --font-weight-heading: 700;
  --font-weight-hero: 900;
  --font-size-primary: 14px;
  --font-size-accent: 16px;
  --font-size-title: 18px;
  --font-size-logo: 26px;
  --font-size-heading: 36px;
  --font-size-hero: 44px;
}
body {
  width: 1600px;
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  margin: 0;
  padding: 0;
}
.section {
  padding: 94px, 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
}
.header {
  color: var(--color-secondary);
  font-weight: var(--font-weight-header);
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.logo-first {
  color: var(--color-accent);
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-logo);
  line-height: 1.2;
  text-decoration: none;
}
.logo-second {
  color: var(--color-logo);
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 93px;
}
.nav-list {
  display: flex;
  padding: 32px 0;
  gap: 50px;
}
.nav-list .current {
  color: var(--color-accent);
}
.nav-link {
  color: inherit;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--color-accent);
}
.nav-link:focus {
  color: var(--color-accent);
}
.contact-list {
  display: flex;
}
.list-link {
  color: var(--color-primary);
  text-decoration: none;
}
.list-link:hover {
  color: var(--color-accent);
}
.list-link:focus {
  color: var(--color-accent);
}
.hero {
  background-color: var(--background-color-accent);
}
.hero-title {
  color: var(--color-invert);
  font-weight: var(--font-weight-hero);
  font-size: var(--font-size-hero);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--background-color-button);
  color: var(--color-invert);
  font-family: inherit;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-accent);
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover {
  background-color: var(--background-color-button-active);
}
.hero-button:focus {
  background-color: var(--background-color-button-active);
}
.hero-button:active {
  background-color: var(--background-color-button-active);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-list {
  list-style-type: none;
}
.section-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
  line-height: 1.17;
}
.benefits .item-title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-primary);
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits .item-text {
  line-height: 1.71;
}
.our-team {
  background-color: var(--background-color-secondary);
}
.memberteam-card {
  background-color: var(--background-color-primary);
}
.memberteam-name {
  color: var(--color-secondary);
  font-weight: var(--font-weight-header);
  font-size: var(--font-size-accent);
  line-height: 1.19;
}
.footer {
  background-color: var(--background-color-accent);
}
.logo-invert {
  color: var(--color-invert);
}
.address {
  font-style: normal;
  line-height: 1.71;
}
.address-link {
  color: var(--color-invert);
  text-decoration: none;
}
.contact-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-link:hover {
  color: var(--color-accent);
}
.contact-link:focus {
  color: var(--color-accent);
}
.filter-button {
  background-color: var(--background-color-secondary);
  color: var(--color-secondary);
  font-family: inherit;
  font-weight: var(--font-weight-header);
  font-size: var(--font-size-accent);
  line-height: 1.62;
  cursor: pointer;
}
.filter-button:hover {
  background-color: var(--background-color-button);
  color: var(--color-invert);
}
.filter-button:focus {
  background-color: var(--background-color-button);
  color: var(--color-invert);
}
.filter-button:active {
  background-color: var(--background-color-button);
  color: var(--color-invert);
}
.portfolio-link {
  color: inherit;
  text-decoration: none;
}
.portfolio-title {
  color: var(--color-secondary);
  font-size: var(--font-size-title);
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-type {
  font-size: var(--font-size-accent);
  line-height: 1.88;
}
